.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loginDiv{
  /* border:1px solid red; */
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  

}
.loginDiv > div{
  /* border: 1px solid blue; */
  width: 45%;
  height: 80%;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* login and signup css */

.loginDiv{
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.loginDiv > div {
  /* border: 1px solid red; */
  width: 20%;
  height: 40%;
  margin: auto;

}

.formDiv{
  /* border: 1px solid blue; */

}

.formDiv > form{
  /* border: 1px solid black; */
  width: 100%;
}

.formDiv > form > input{
  /* border: 1px solid red; */
  line-height: 22px;
  margin-bottom: 10px;
  font-size: 18px;
}


.formDiv > form > button {
  /* border: 1px solid red; */
  font-size: 16px;
  font-weight: 400;
  background-color: orangered;
  color: white;
  width: 25%;
  height: 30px;
  border-radius: 22px;
  border: none;
}


/* dashboard css */

.contentDiv{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  overflow: scroll;
  

}
.timelineDiv{
  border: 1px solid blue;
  width: 70%;

}

.sidebarDiv{
  border: 1px solid red;
  width: 20%;
  height: 70%;
  overflow-y: hidden;
  overflow-y: scroll;
}


.navLinkDiv {
  /* border: 1px solid blue; */
  color: inherit;
  text-decoration: none;
  width: 40%;
  margin: auto;
  margin-top: 10px;
}
.NavLinkText {
  color: inherit;
  text-decoration: none;
}


.userImageDiv{
  /* border: 1px solid red; */
  width: 40%;
  margin: auto;
  border-radius: 50%;
}
.userNameDiv{
  /* border: 1px solid red; */
  width: 100%;
  margin: auto;
  text-align: center;
}
.userNameDiv > p{
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}




/* navbar div */
.navbarDiv{
  /* border:2px solid black; */
  display: flex;
  justify-content: space-around;
}

.navbarDiv > div{
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.allButton{
  /* border: 1px solid blue; */
  font-size: 16px;
  font-weight: 400;
  background-color: orangered;
  color: white;
  height: 30px;
  border-radius: 22px;
  border: none;
}



.suggestionDiv{
  border: 1px solid blue;
  height: 100%;
}


.suggestedProfileDiv{
  border: 1px solid black;
  width: 100%;

}

